Test-corpus/*
Train-corpus/*
Submission
Assigment.pdf
test/*
testGenerated
.gitignore
genFiles
Assigment-files.tar.gz
tagguide.ps.gz
genFiles
generatedFiles/*data*
generatedFiles/*freq*
generatedFiles.zip
generatedFiles/data*
generatedFiles/*freq*
