Test-corpus
Train-corups

Test-corpus/*
Train-corpus/*
Submission
Assigment.pdf
test/*
testGenerated
generatedFiles
.gitignore
genFiles
generatedFiles.zip
Assigment-files.tar.gz
tagguide.ps.gz
genFiles
